<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>Jmorales</title>

	<link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="stylesheets/pygment_trac.css">
	<link rel="stylesheet" href="media/css-social-buttons/social-buttons.css">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrapper">
	<header>
		<h1>Juan Morales</h1>
	<img src="media/me.png"/>
		<p>Juan Morales is a PostDoc researcher at <a href="http://cesvima.upm.es/">CeSViMa</a>, (Centro de Supercomputación y Visualización de Madrid), in the <a href="http://www.upm.es/interancional">UPM</a> (Universidad Poltéctina de Madrid). </p>
	<p>All of his research is related and supported by the <a href="http://cajalbbp.cesvima.upm.es">Cajal Blue Brain Project</a></p>
	<p>Download <a href="resume.pdf">his resume</a> (pdf)</p>
	<p>See the <a href="posts">blog</a></p>

	<p><a href="https://twitter.com/#!/crispamares" class="sb twitter"></a>
	<a href="http://www.flickr.com/photos/crispamares/" class="sb flickr"></a>
	<a href="https://github.com/crispamares" class="sb github"></a>
	<a href="https://es.linkedin.com/in/juanmoralesdelolmo" class="sb linkedin"></a>
	<a href="http://stackoverflow.com/users/282061/crispamares" class="sb stackoverflow"></a>
	<!--<a href="http://crispamares.posterous.com/" class="sb posterous"></a>-->
	</p>
	</header>
	<section>
		<h2>Research</h2>
	<p>I am interested in: Visual Analytics, Human Computer Interaction,
	Data Analysis, Image Analysis. </p>
	<p>
	All my research has been driven by user's needs practicing
	User Centered Design, so the outcomes have been software
	tools that fulfills the requirements of the users (usually
	the neuroscience community).</p>

		<p>
	I have predilection for interdisciplinary groups. The
	communication is harder for sure, but the joy of resolving
	complex problems in different ways is unbeatable. 
		</p>
	

	<a href="http://cajalbbp.cesvima.upm.es/#research"> <div class="right">EspINA</div> </a>
	<iframe width="100%" height="345" src="https://www.youtube.com/embed/n6j7ZbAiEtE" frameborder="0" allowfullscreen></iframe>

	<a href="http://cajalbbp.cesvima.upm.es/#research"><div class="right">Dispine</div></a>
	<iframe src="https://player.vimeo.com/video/125615925" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

	<div class="right">In progress...</div>
	<iframe src="https://player.vimeo.com/video/125615926" width="100%" height="345" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 

	<h2>Phd Thesis</h2>
		
	<p>
	Juan Morales&nbsp;del Olmo.
	<em>New interactive techniques for data analysis in Neuroscience.</em>
	PhD thesis, Facultad de Informatica, Universidad Polit&eacute;cnica de
	Madrid, 2013.
	[&nbsp;<a href="https://serviciosgate.upm.es/tesis/tesis/7139">http</a>&nbsp;]
	</p>

	<h2>Publications</h2>
	
		<p>
	J.&nbsp;Morales, R.&nbsp;BEnavides-Piccione, M.&nbsp;Dar, I.&nbsp;Fernaud-Espinosa, A.&nbsp;Rodriguez,
	L.&nbsp;Anton-Sanchez, C.&nbsp;Bielza, C.&nbsp;Larrañaga, J.&nbsp;DeFelipe, and R.&nbsp;Yuste.
	random positioning of dendritic spines in the human
	cerebral cortex.
	<em>Journal of Neuroscience</em>, 34(30):7, 2014.
	[&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pubmed/25057209">http</a>&nbsp;]

		</p>

		<p>
	Pablo Toharia, Juan Morales, Octavio de&nbsp;Juan, Isabel Fernaud, Angel Rodríguez,
	and Javier DeFelipe.
	Musical Representation of Dendritic Spine Distribution: A
	New Exploratory Tool.
	<em>Neuroinformatics</em>, 12(2):341-353, 2014.
	[&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pubmed/24395057">http</a>&nbsp;]
		</p>

	
	<p>
	Megan Monroe, Rongjian Lan, Juan Morales&nbsp;del Olmo, Ben Shneiderman, Catherine
	Plaisant, and Jeff Millstein.
	The challenges of specifying intervals and absences in temporal
	queries: a graphical language approach.
	In <em>Proceedings of the SIGCHI Conference on Human Factors in
		Computing Systems</em>, CHI '13, pages 2349-2358, New York, NY, USA, 2013. ACM.
	[&nbsp;<a href="http://dx.doi.org/10.1145/2470654.2481325">DOI</a>&nbsp;| 
	<a href="http://doi.acm.org/10.1145/2470654.2481325">http</a>&nbsp;]
	</p>
	
	
	<p>
	Juan Morales, Angel Rodriguez, Jos&eacute;-Rodrigo Rodriguez, Javier DeFelipe, and
	Angel Merchan-Perez.
	Characterization and extraction of the synaptic apposition surface
	for synaptic geometry analysis.
	<em>Frontiers in Neuroanatomy</em>, 7(20), 2013.
	[&nbsp;<a href="http://dx.doi.org/10.3389/fnana.2013.00020">DOI</a>&nbsp;| 
	<a href="http://www.frontiersin.org/neuroanatomy/10.3389/fnana.2013.00020/abstract">http</a>&nbsp;]
	
	</p>
	
	
	<p>
	Juan Morales, Ruth Benavides-Piccione, Angel Rodríguez, Luis Pastor, Rafael
	Yuste, and Javier DeFelipe.
	Three-dimensional analysis of spiny dendrites using straightening and
	unrolling transforms.
	<em>Neuroinformatics</em>, 10(4):391-407, 2012.
	[&nbsp;<a href="http://dx.doi.org/10.1007/s12021-012-9153-2">DOI</a>&nbsp;| 
	<a href="http://dx.doi.org/10.1007/s12021-012-9153-2">http</a>&nbsp;]
	
	</p>
	
	
	<p>
	Juan Morales, Angel Rodr&iacute;guez, Angel Merch&aacute;n-P&eacute;rez, Jos&eacute;-Rodrigo
	Rodr&iacute;guez, and Javier DeFelipe.
	Characterizing and extracting the synaptic apposition surface for the
	analysis of synaptic geometry.
	In <em>5<sup>th</sup> Workshop on Data Mining in Functional Genomics and
		Proteomics: current trends and future directions</em>, pages 63-72, Athens, Sep
	2011.
	
	</p>
	
	
	<p>
	Juan Morales, Jorge&nbsp;G. Peña, Jaime Fern&aacute;ndez, and Angel Rodr&iacute;guez.
	Towards a scalable espina for neuroscience data analysis.
	<em>ASME Conference Proceedings</em>, 2011(44328):357-366, 2011.
	[&nbsp;<a href="http://dx.doi.org/10.1115/WINVR2011-5553">DOI</a>&nbsp;| 
	<a href="http://link.aip.org/link/abstract/ASMECP/v2011/i44328/p357/s1">http</a>&nbsp;]
	
	</p>
	
	
	<p>
	Juan Morales, Lidia Alonso-Nanclares, Jos&eacute;-Rodrigo Rodr&iacute;guez, Angel
	Merch&aacute;n-P&eacute;rez, Angel Rodr&iacute;guez, and Javier DeFelipe.
	Fast interactive quantification of synapses in the cerebral cortex.
	<em>International Journal of Artificial Intelligence Tools</em>,
	20(12):239-252, Apr 2011.
	[&nbsp;<a href="http://dx.doi.org/DOI 10.1142/S0218213011000139">DOI</a>&nbsp;]
	
	</p>
	
	
	<p>
	Juan Morales, Lidia Alonso-Nanclares, Jos&eacute;-Rodrigo Rodr&iacute;guez, Javier
	DeFelipe, Angel Rodr&iacute;guez, and Angel Merch&aacute;n-P&eacute;rez.
	Espina: a tool for the automated segmentation and counting of
	synapses in large stacks of electron microscopy images.
	<em>Frontiers in Neuroanatomy</em>, 5(18):1-8, Mar 2011.
	[&nbsp;<a href="http://dx.doi.org/DOI 10.3389/fnana.2011.00018">DOI</a>&nbsp;]
	
	</p>
	
	
	<p>
	Juan Morales, Lidia Alonso-Nanclares, Jos&eacute;-Rodrigo Rodr&iacute;guez, Angel
	Merch&aacute;n-P&eacute;rez, Angel Rodr&iacute;guez, and Javier DeFelipe.
	<em>Computer assisted identification, segmentation and
		quantification of synapses in the cerebral cortex</em>, volume 6098, published
	from proc. of iea/aie conference Trends in Applied Intelligent Systems, pages
	112-118.
	Springer, C&oacute;rdoba, Spain, 2010.
	Selected to be extended and publish in a special issue of JCR Journal
	(ref. [<a href="#moralesijait">7</a>]).
	
	</p>

	</section>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-3744553-6");
		pageTracker._trackPageview();
		} catch(err) {}
		</script>

</body>
</html>
